<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>
    Bem-vindo ao emocionante universo de "Rick and Morty"! Somos uma aclamada
    série de animação para adultos, criada por Dan Harmon e Justin Roiland. A
    primeira vez que invadimos as telinhas foi em dezembro de 2013, e desde
    então temos cativado uma enorme base de fãs ao redor do mundo.
  </p>

  <p>
    Nossa história segue as aventuras intergalácticas e interdimensionais de
    Rick Sanchez, um brilhante e desequilibrado cientista alcoólatra, e seu
    neto, Morty Smith, um adolescente sensível, porém inseguro. Juntos, eles
    embarcam em viagens através do tempo, espaço e realidades paralelas,
    enfrentando perigos inimagináveis e encontrando criaturas bizarras em cada
    esquina do cosmos.
  </p>
  <p>
    O que nos torna únicos é a combinação magistral de humor ácido e escrachado
    com temas profundos e existenciais. Por trás das aventuras malucas e
    irreverentes, "Rick and Morty" aborda questões filosóficas e morais,
    explorando temas como a natureza da existência, livre arbítrio, ética
    científica e relacionamentos familiares complicados.
  </p>
  <p>
    Nossa série é conhecida por sua criatividade visual impressionante, rica
    narrativa e personagens carismáticos. Além de Rick e Morty, você também
    conhecerá uma variedade de personagens excêntricos, como a inteligente e
    corajosa Summer, a mãe de Morty, Beth, e o pai atrapalhado e
    bem-intencionado, Jerry.
  </p>
  <p>
    Ao longo das temporadas, você mergulhará em aventuras que oscilam entre o
    cômico e o dramático, proporcionando uma experiência única e emocionante a
    cada episódio. Nossa série é uma sátira afiada da cultura pop, da ficção
    científica e de nossa própria sociedade, oferecendo uma visão inigualável e
    às vezes desconfortável do mundo em que vivemos.
  </p>
  <p>
    Nós, da equipe de "Rick and Morty", agradecemos o apoio inabalável de nossos
    fãs, cujo entusiasmo e paixão nos impulsionam a continuar criando novas e
    alucinantes aventuras. Estamos ansiosos para continuar surpreendendo e
    entretendo vocês enquanto Rick e Morty seguem em viagens loucas e
    imprevisíveis por todo o multiverso.
  </p>
  <p>
    Então, prepare-se para rir, refletir e se apaixonar por essa jornada
    interdimensional que é "Rick and Morty"! O melhor ainda está por vir, e mal
    podemos esperar para compartilhar essa experiência emocionante com todos
    vocês.
  </p>
</ion-content>
