<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contacts</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!form.sended">
    <p>Entre em contato Conosco</p>

    <p>
      <ion-input
        label="Nome:"
        type="text"
        label-placement="floating"
        fill="outline"
        placeholder="Nome completo "
        [autofocus]="true"
        error-text="Nome inválido!"
        [(ngModel)]="form.name"
        required
        minlength="3"
      ></ion-input>
    </p>

    <p>
      <ion-input
        label="Email:"
        type="Email"
        label-placement="floating"
        fill="outline"
        placeholder="Email"
        [(ngModel)]="form.email"
        error-text="Email invalido"
        required
      ></ion-input>
    </p>

    <p>
      <ion-input
        label="Assunto:"
        type="text"
        label-placement="floating"
        fill="outline"
        placeholder="Assunto"
        [(ngModel)]="form.assunto"
        error-text="assunto vazio"
        required
        minlength="3"
      ></ion-input>
    </p>
    <p>
      <ion-input
        label="Descrição"
        type="text"
        label-placement="floating"
        fill="outline"
        [(ngModel)]="form.descricao"
        placeholder="Fale sobre o Assunto"
        error-text="Descrição vazia"
        required
        minlength="3"
      ></ion-input>
    </p>
    <p>
      <ion-button type="submit" id="present-alert" (click)="sendContact()">Enviar</ion-button>
    </p>
  </div>

  <div *ngIf="form.sended">
    <h4>Olá {{ form.name }}!</h4>
    <p>Seu contato foi enviado com sucesso.</p>
    <p><em>Obrigado...</em></p>
    <p>
      <ion-button type="submit" id="present-alert" (click)="refresh()">Retornar</ion-button>
    </p>
  </div>
</ion-content>
