<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contacts</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <p>Entre em contato Conosco</p>

    <p>
      <ion-input
        label="Nome:"
        type="text"
        label-placement="floating"
        fill="outline"
        placeholder="Nome completo do item"
        [autofocus]="true"
        error-text="Nome inválido!"
        required
        minlength="3"
      ></ion-input>
    </p>

    <p>
      <ion-input
        label="Email:"
        type="Email"
        label-placement="floating"
        fill="outline"
        placeholder="Descriçao do produto"
        error-text="Descriçao invalida!"
        required
      ></ion-input>
    </p>

    <p>
      <ion-input
        label="Assunto:"
        type="text"
        label-placement="floating"
        fill="outline"
        placeholder="Localização do item"
        error-text="Localizaçao inválida!"
        required
        minlength="3"
      ></ion-input>
    </p>
    <p>
      <ion-button type="submit" id="present-alert">Enviar</ion-button>
    </p>
  </div>
</ion-content>
